<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <title>Portfolio -Navbar </title>

        <!--icon-->
        <script src="https://kit.fontawesome.com/b8edaa5513.js" crossorigin="anonymous"></script>
        <!--fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <!--user style-->
        <link rel="stylesheet" href="../stylesheets/style.css">
    </head>
    <body>
        <header class="header-area navbar-fade" id="header">
            <nav class="navbar">
                <a class="navbar-brand" id="navbarBrand">logo</a>
                <a class="navbar-toggler" id="toggleBtn"><i class="fa fa-bars"></i></a>
                <div class="navbar-menu" id="menu">
                    <div class="nav-item"><a class="nav-link" id="navbarAbout">about</a></div>
                    <div class="nav-item"><a class="nav-link" id="navbarService">service</a></div>
                    <div class="nav-item"><a class="nav-link" id="navbarPortfolio">portfolio</a></div>
                    <div class="nav-item"><a class="nav-link" id="navbarReview">review</a></div>
                </div>
            </nav>
        </header>

        <section>
            <div>
                ABOUT
            </div>
            <div>
                <img src="">
                <div>NAME</div>
                <div>JUNIOR DEVELOPER</div>
            </div>
            <div>
                <div>
                    안녕하세요, 끊임없는 성장을 추구하는 열정있는 iOS 주니어 개발자 입니다. 
                </div>
            </div>
        </section>




        <!--user script-->
        <script src="../javascripts/index.js"></script>
    </body>
</html>